
/* BOTONES */
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5rem;
    width: 90%;
    text-align: center;
    border: none;
  }
  
  .boton:hover {
    cursor: pointer;
  }
  
  #pie {
    margin: 20px;
    text-align: center;
  }
  #pie th {
    font-weight: 900;
  }